<section id="callforpapers">
    <h2>Call for Papers</h2>
    <!--<p>Information to be announced soon.</p>-->
    <div class="row">
        <div class="col-sm-12">
            <p>R community in Belgrade is looking forward to attending good R talks. We invite speakers from industry, academia (this includes students!) and all R enthusiasts.</p>

<p>Please feel free to submit one ore more proposal(s) in English on the above URL with the following presentation formats:

<li>Workshop (up to 4 hours): Tutorial for ~20 (or more) persons on a beginner or advanced R topic</li>
<li>Regular Talk (20-30 minutes): Each talk is allowed up to 30 minutes for the presentation including questions and answers</li>
<li>Lightning Talk (5 minutes): Five minutes, twenty slides.</li>
Floor is yours! &#9786;</p>

            <p>Submit your proposal <a href="https://sessionize.com/satrday-belgrade/" target="_blank">here</a> to be our speaker.</p>
        </div>
    </div>
<!--
    <p>Presentation proposals for sat<b>R</b>day Belgrade are now closed. Thank you for all your submissions. Start thinking about topics sat<b>R</b>day 2019 :) </p>-->
    </section>
