<section id="codeofconduct">
    <h2>Code of Conduct</h2>

<p>satRday is dedicated to providing a harassment-free and inclusive conference experience for all in attendance regardless of, but not limited to, gender, sexual orientation, disabilities, physical attributes, age, ethnicity, social standing, religion or political affiliation.</p>

<p>We do not tolerate harassment of participants (including organisers and vendors) in any form. Sexual innuendos and imagery are not appropriate for any conference venue, including presentations.</p>

<p>Anyone violating these rules may be given warning or expelled from the conference (without a refund) at the discretion of the conference organisers.</p>

<p>Our code of conduct/anti-harassment policy can be found <a href="http://belgrade2018.satrdays.org/code-of-conduct.html"> here. </a> </p>

</section>
