<header class="site-header" id="topheader">
  <canvas id="Trianglewave" width="1922" height="463" data-paper-scope="1" style="-webkit-user-select: none; touch-action: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas>

  <div class="headerContent">
    <a href="https://twitter.com/satRdays_org" class="twitter" target="BLANK"></a>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navBar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
        </div>
        <div class="collapse navbar-collapse" id="navBar">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li><a href="#registration">Registration</a></li> 
<!--             <li><a href="#callforpapers">Call For Papers</a></li> -->
            <li><a href="#speakers">Speakers</a></li>
<!--            <li><a href="#workshops">Workshops</a></li>-->
            <li><a href="#programme">Programme</a></li>
            <li><a href="#venue">Venue</a></li>
<!--            <li><a href="#importantdates">Important Dates</a></li>-->
            <li><a href="#sponsors">Sponsors</a></li> 
          </ul>
        </div>
      </div>
    </nav>

    <img src="images/satRdayLogo-square.png" alt="logo">
    <div class="title">
      <span class="capetown">Paris</span> <span class="seperator">-</span> <span>23 February 2019</span>
    </div>
    </div>

</header>
