<section id="importantdates">
<!--    <h2>Important Dates</h2> -->
    <!--<p>Information to be announced soon.</p>-->
<!--    <table class="table table-hover">
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Registration start</td>
                <td>July 31<sup>st</sup> 2018</td>
            </tr>
            <tr>
                <td>Registration end</td>
                <td>October 21<sup>st</sup> 2018</td>
            </tr>
            <tr>
                <td><s>Call for Papers start</s></td>
                <td><s>July 17<sup>th</sup> 2018</s></td>
            </tr>
            <tr>
                <td><s>Call for Papers end</s></td>
                <td><s>September 2<sup>nd</sup> 2018</s></td>
            </tr>
        </tbody>
    </table>-->
</section>
