<section id="organizers">
  <h2>Organizers</h2>

<!--<p>Information to be announced soon.</p>-->
  <h4>Lead Organizing Committee</h4>
  <div class="row">

    <div class="col-sm-4">
      <div class="speaker">
        <div class="speaker-photo">
          <img src="images/speakers/profile-colin-fay.jpg" />
        </div>
        <div class="keynote-name">
          Colin Fay
        </div>
        <div class="keynote-position">
          Data Scientist & R Hacker at ThinkR
        </div>
<!--        <div class="speaker-social">
          <a href="https://twitter.com/maryclaryf"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="http://heatherturner.net/"><i class="fa fa-globe" aria-hidden="true"></i></a>
        </div>-->
<!--        <div class="speaker-bio">
        </div>-->
      </div>
    </div>
 
    
    <div class="col-sm-4">
      <div class="speaker">
        <div class="speaker-photo">
          <img src="images/speakers/profile-muriel-epstein.jpg" />
        </div>
        <div class="keynote-name">
          Muriel Epstein
        </div>
        <div class="keynote-position">
           Teacher-researcher at Aix Marseille Université
        </div>
<!--        <div class="speaker-social">
          <a href="https://twitter.com/maryclaryf"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="http://heatherturner.net/"><i class="fa fa-globe" aria-hidden="true"></i></a>
        </div>-->
<!--        <div class="speaker-bio">
        </div>-->
      </div>
    </div>
      
              <div class="col-sm-4">
      <div class="speaker">
        <div class="speaker-photo">
          <img src="images/speakers/profile-julien-chiquet.jpg" />
        </div>
        <div class="keynote-name">
          Julien Chiquet
        </div>
        <div class="keynote-position">
           Statistical researcher at INRA, UMR AgroParisTech/INRA
        </div>
<!--        <div class="speaker-social">
          <a href="https://twitter.com/maryclaryf"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="http://heatherturner.net/"><i class="fa fa-globe" aria-hidden="true"></i></a>
        </div>-->
<!--        <div class="speaker-bio">
        </div>-->
      </div>
    </div>
      
  </div>
  
    <br/>
    
  <h4>Organising Committee Volunteers </h4>

 <div class="row">
    <div class="col-sm-3">
      <div class="speaker" data-original-title="" title="">
<!--        <div class="speaker-photo">
          <img src="images/speakers/profile-filip-rodik.jpg">
        </div>-->
        <div class="speaker-name">
          Diane Beldame
        </div>
        <div class="speaker-position">
          Data Scientist, consultant & trainer <!--at ThinkR-->
        </div>
        <div class="speaker-affiliation">
         ThinkR
        </div>
<!--        <div class="speaker-social">
          <a href="https://twitter.com/FilipRodik"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>-->
      </div>
    </div>
     
    <div class="col-sm-3">
      <div class="speaker" data-original-title="" title="">
<!--        <div class="speaker-photo">
          <img src="images/speakers/profile-filip-rodik.jpg">
        </div>-->
        <div class="speaker-name">
          Cervan Girard
        </div>
        <div class="speaker-position">
          Data Scientist, consultant & trainer <!--at ThinkR-->
        </div>
        <div class="speaker-affiliation">
         ThinkR
        </div>
<!--        <div class="speaker-social">
          <a href="https://twitter.com/FilipRodik"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>-->
      </div>
    </div>
  </div>


</section>