<section id="programme">
<script>
	$(document).ready(function() {
    // Configure/customize these variables.
    var showChar = 200;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Show more >";
    var lesstext = "Show less";
    

    $('.more').each(function() {
        var content = $(this).html();
 
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
 
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
});
</script>	
  
<h2>Programme</h2> 

<h3>Talks</h3> 

<p>All talks are given in English.</p>

<table class="table table-hover">
        <thead>
            <tr>
                <th>Session</th>
                <th>Start</th>
                <th>End</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Opening</b> </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>09:00</td>
                <td>09:30</td>
                <td><em>Colin Fay & Muriel Epstein & Julien Chiquet</em></td>
            </tr>
            <tr>
                <td><b>Keynote</b> </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>09:30</td>
                <td>10:30</td>
                <td><em>Lionel Henry</em> - Programming in the tidyverse</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>10:30</td>
                <td>11:00</td>
                <td><b>Coffee Break</b></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Visualization</b> </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>11:00</td>
                <td>11:45</td>
                <td><em>Fanny Meyer & Victor Perrier</em> - Find your dream job : a Shiny application for job matching</td>
            </tr>
            <tr>
                <td></td>
                <td>11:45</td>
                <td>12:30</td>
                <td><em>Bea Hernandez</em> - Football meets graphs.</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>12:30</td>
                <td>13:30</td>
                <td><b>Lunch Break</b></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>R in Practice</b> </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>13:30</td>
                <td>14:00</td>
                <td><em>Hadrien Commenge</em> - R & Space: Navigate through geographical information.</td>
            </tr>
            <tr>
              <td></td>
                <td>14:00</td>
                <td>14:30</td>
                <td><em>Denis Roussel</em> - A journey into data science - From an idea to a viable product</td>
            </tr>
            <tr>
              <td></td>
                <td>14:30</td>
                <td>15:00</td>
                <td><em>TBA</em></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
              <td></td>
                <td>15:00</td>
                <td>15:30</td>
                <td><b>Coffee Break</b></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Performance</b> </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
              <td></td>
                <td>15:30</td>
                <td>16:15</td>
                <td><em>Suzan Baert</em> - Need for Speed: the data manipulation version
</td>
            </tr>
            <tr>
              <td></td>
                <td>16:15</td>
                <td>17:00</td>
                <td><em>Henrik Bengtsson</em> - The {future} package</td>
            </tr>
            <tr>
                <td><b>Closing</b> </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>17:00</td>
                <td>17:15</td>
                <td><em>Diane Beldame</em></td>
            </tr>
        </tbody>
    </table>
    

<h3>Workshops</h3> 

<p>Two workshops are hold at the same time.</p>

<p><em>Please note that the order is subject to change</em></p>

<table class="table table-hover">
        <thead>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>11:00</td>
                <td>12:30</td>
                <td><em>Susan Baert</em>: Introduction to the tidyverse.</td>
            </tr>
            <tr>
                <td>11:00</td>
                <td>12:30</td>
                <td><em>Étienne Côme,  Kim Antunez, Timothée Giraud</em>: R & GIS</td>
                
            </tr>
            <tr>
                <td>12:30</td>
                <td>13:30</td>
                <td><b>Lunch Break</b></td>
            </tr>
            <tr>
                <td>13:30</td>
                <td>15:00</td>
                <td><em>Sophie Donnet</em>: Machine Learning, deep learning with R</td>
            </tr>
            <tr>
                <td>13:30</td>
                <td>15:00</td>
                <td><em>Corentin Roquebert</em>: Textual analysis with R</td>
            </tr>
            <tr>
                <td>15:00</td>
                <td>15:30</td>
                <td><b>Coffee Break</b></td>
            </tr>
            <tr>
                <td>15:30</td>
                <td>17:00</td>
                <td><em>Andrew Collier</em> Mardown: Reproducible Research and Automated Reporting.</td>
            </tr>
            <tr>
                <td>15:30</td>
                <td>17:00</td>
                <td><em>DataThon with Caelif</em> - "Students well being"</td>
            </tr>
        </tbody>
    </table>
    
<!--<h3>Nadica Miljkovic: Digital biosignal processing with R</h3>

<div class="more">
Though R gained high popularity in recent years in areas of data science and bioinformatcs, the applicaton of R programming for digital signal processing is not widespread to large extent. “Signal” is the most popular CRAN package for signal processing in R. This package contains functons for fltering resampling, interpolaton and other routnes based on traditonal Matlab and GNU Octave functonality.
<br>
Besides “signal”, other useful basic signal processing packages (e.g.s “wavelets”) and specialized packages for digital biosignal processing (e.g.s heart rate variability analysis – “RHRV” package processing of event-related brain potentals – “erpR”, analysis and evaluaton of electroencephalography data – “eegkit”, routnes for processing and modeling of electromyography signals – “biosignalEMG”) provide solid foundaton for R applicaton in digital biosignal processing.
<br>
In this talk, besides brief overview of R for biosignal processings we will demonstrate some useful signal processing techniques implemented in R aiming at artfact cancellaton in biosignals.
</div>-->
	
	
</section>
