<section id="registration">
    <h2>Registration</h2>
<!--    <script type="text/javascript" src="https://satrday-belgrade-modules.xing-events.com/resources/js/amiandoExport.js"></script><iframe src="https://satrday-belgrade-modules.xing-events.com/satrday-belgrade.html?viewType=iframe&distributionChannel=CHANNEL_IFRAME&language=en&useDefaults=false&resizeIFrame=true" frameborder="0" width="100%" height="650px" id="_amiandoIFrame3353880"><p>This page requires frame support. Please use a frame compatible browser to see the ticket sales module.</p><p> Try out the <a href="https://en.xing-events.com/">online event registration system</a> from XING Events.</p></iframe>More participants thanks to <a href="https://en.xing-events.com?viralRefId=satrday-belgrade&utm_campaign=ev-satrday-belgrade&utm_medium=viral&utm_source=EventWebsite&utm_content=TextLinkBottom&utm_term=text-link" target="_blank" alt="XING Events" title="XING Events">online event management solutions</a> from XING Events.-->
    
    <h3>Standard Registration</h3>
    
    <p>There are no more tickets available.</p>
    
<!--    <a title="Logiciel billetterie en ligne" href="https://weezevent.com/?c=sys_widget" class="weezevent-widget-integration" target="_blank" data-src="https://www.weezevent.com/widget_billeterie.php?id_evenement=402264&lg_billetterie=1&code=44831&resize=1&width_auto=1&color_primary=00AEEF" data-width="650" data-height="600" data-id="402264" data-resize="1" data-width_auto="1" data-noscroll="0" data-nopb="0">Billetterie Weezevent</a><script type="text/javascript" src="https://www.weezevent.com/js/widget/min/widget.min.js"></script> -->
    
      <h3>Free tickets</h3>
  <p>Unfortunately the free tickets quota is full.</p>
  
  
    <!--
    <p>Tickets are available via Ticket Tailor
      <li>Normal ticket: £35</li>
      <li>Student ticket: £20</li>
      <li>Group ticket: £120 for 5 named attendees</li>
    </p>
    -->
    <!-- Ticket Tailor Widget. Paste this in to your website where you want the widget to appear. Do no change the code or the widget may not work properly. -->
<!--    
<div class="tt-widget"><div class="tt-widget-fallback"><p><a href="https://www.tickettailor.com/all-tickets/43266/3882/ref/website_widget/" target="_blank">Click here to buy tickets</a><br /><small><a href="http://www.tickettailor.com?rf=wdg" class="tt-widget-powered">Sell tickets online with Ticket Tailor</a></small></p></div><script src="https://dc161a0a89fedd6639c9-03787a0970cd749432e2a6d3b34c55df.ssl.cf3.rackcdn.com/tt-widget.js" data-url="https://www.tickettailor.com/all-tickets/43266/3882/ref/website_widget/" data-type="inline" data-inline-minimal="false" data-inline-show-logo="true"  data-inline-bg-fill="true"></script></div> -->
<!-- End of Ticket Tailor Widget -->
</section>
