<section id="speakers">
  <h2>Speakers</h2>

<!--<p>Information to be announced soon.</p>-->
  <div class="row" >
    {% for post in site.posts %}
    <div class="col-sm-4">
      <div class="speaker">
        <div class="speaker-photo" style="width: 250px">
          <img src="{{post.img}}" />
        </div>
        <div class="keynote-name">
         {{post.name}}
        </div>
        <div class="keynote-position">
          {{post.job}}
        </div>
        {% if post.twitter == 'none' %}
        <div class="speaker-social">
          <p>&nbsp;</p>
          {% else %}
          <div class="speaker-social">
          <a href="https://twitter.com/{{post.twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          {% endif %}
<!--        <div class="speaker-bio">
          Heather is a freelance consultant with over ten years experience providing statistical and programming support to investigators in statistics, social science, drug discovery, bioinformatics and agriculture. She regularly develops packages as part of her
          work and is a maintainer/contributor of six packages on CRAN (BradleyTerry2, forwards, gnm, PlackettLuce, logmult, vcdExtra). Heather is an active member of the R community, in particular she is on the board of the R Foundation and chairs the
          Forwards taskforce on women and other under-represented groups.
        </div>-->
      </div>
    </div>
  </div>
 {% endfor %}
<!--  <h4>Speakers</h4>-->

<!--  <div class="row">
    <div class="col-sm-3">
      <div class="speaker" data-original-title="" title="">
        <div class="speaker-photo">
          <img src="images/speakers/profile-filip-rodik.jpg">
        </div>
        <div class="speaker-name">
          Lionel Henry
        </div>
        <div class="speaker-topic">
          "Preparing Your Models For Take Off"
        </div>
        <div class="speaker-position">
          Data engineer & Hacktivist (CRO)
        </div>
        <div class="speaker-affiliation">
         RStudio
        </div>
        <div class="speaker-social">
          <a href="https://twitter.com/FilipRodik"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="speaker-bio">
        </div>
      </div>
    </div>
  </div>-->


</section>
