<section id="sponsors">
    <h2>Sponsors</h2>
    <div class="row">
      <div class="col-sm-12">
<!--          <a href="https://www.r-consortium.org/"><img src="images/sponsors/RConsortium_Vertical_Pantone.png" title="R Consortium"></a>-->
      </div>

<!--       <div class="col-sm-6">
          <a href="https://itsalocke.com/"><img src="images/sponsors/locke-data.png" title="Locke Data"></a>
      </div> -->
    </div>
<!--     <div class="row">
      <div class="col-sm-6">
          <a href="https://www.jumpingrivers.com/"><img src="images/sponsors/jumping-rivers.png" title="Jumping Rivers"></a>
      </div>
      <div class="col-sm-6">
          <a href="https://www.sorensonmedia.com/"><img src="images/sponsors/Sorenson-Media-Vert-Primary-FullColor-OFFICE.png" title="JSorenson Media"></a>
      </div>
    </div>-->
    <p>
        We are looking for sponsors for Paris sat<b>R</b>day. Your financial help and commitment to the R community are greatly appreciated and essential to making this event possible! Please get in touch with <a href="mailto:satrdayparis@gmail.com" target="_top">us through email</a> if your business is interested in discussing sponsorship.
    </p> 
</section>
