<section id="sponsors">
  <div>
  <p>
    satRday is a non-profit, volunteer-run event, and we rely on sponsorship for making it happen. We are looking for sponsors for Paris sat<b>R</b>day. Your financial help and commitment to the R community are greatly appreciated and essential to making this event possible! Please get in touch with <a href="mailto:satrdayparis@gmail.com" target="_top">us through email</a> if your business is interested in discussing sponsorship.
    </p> </div>
    
  <div class="row" >
    <h2>Sponsors Gold</h2>
    {% for post in site.sponsorsgold %}
    <div class="col-sm-4">
      <div class="speaker">
        <div class="speaker-photo" style="width: 250px">
          <img src="{{post.img}}" />
        </div>
        <div class="keynote-name">
         {{post.name}}
        </div>
        {% if post.twitter == 'none' %}
        <div class="speaker-social">
          <p>&nbsp;</p>
          {% else %}
          <div class="speaker-social">
          <a href="https://twitter.com/{{post.twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          {% endif %}
          <a href="{{post.website}}"><i class="fa fa-globe" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
 {% endfor %}
 
</section>

<section id="sponsorsclassic">
    <div class="row" >
    <h2>Sponsors</h2>
    {% for post in site.sponsorsclassic %}
    <div class="col-sm-3">
      <div class="speaker">
        <div class="speaker-photo" style="width: 150px">
          <img src="{{post.img}}" />
        </div>
        <div class="keynote-name">
         {{post.name}}
        </div>
        <div class="speaker-social">
          <a href="https://twitter.com/{{post.twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="{{post.website}}"><i class="fa fa-globe" aria-hidden="true"></i></a>

<!--        <div class="speaker-bio">
          Heather is a freelance consultant with over ten years experience providing statistical and programming support to investigators in statistics, social science, drug discovery, bioinformatics and agriculture. She regularly develops packages as part of her
          work and is a maintainer/contributor of six packages on CRAN (BradleyTerry2, forwards, gnm, PlackettLuce, logmult, vcdExtra). Heather is an active member of the R community, in particular she is on the board of the R Foundation and chairs the
          Forwards taskforce on women and other under-represented groups.
        </div>-->
      </div>
    </div>
  </div>
 {% endfor %}
</section>
