<section id="venue">
<!--    <h2>Venue</h2>-->
<!--    <p>
        Workshop day will be held on October 26<sup>th</sup> 2018 in <a href="https://www.google.com/maps/place/Startit+Centar+Beograd/@44.8068924,20.4533107,17z/data=!3m1!4b1!4m5!3m4!1s0x475a7aaa0756e81f:0x1e47be2a38dbf0ee!8m2!3d44.8068924!4d20.4554994" target="_blank">Startit Center Belgrade</a>, Savska street 5.
    </p>
    <p>
        Close to the city center, the  <a href="http://www.muzejnt.rs/">Main Building of Museum of Science and Technology</a>
        will host the conference on October 27<sup>th</sup>.
    </p>-->

<!--    <h3 class="center">Travel</h3> -->

    <p></p>

<!--    <div class="row">
        <div class="col-sm-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.991093903365!2d20.46294001515194!3d44.82174607909859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7ab5c03e0e39%3A0xf786ca8bded798fe!2sMuseum+of+Science+and+Technology!5e0!3m2!1sen!2srs!4v1530983728259" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>-->
</section>
