<section id="visualisation">
<h2>Data Visualisation Challenge</h2>
<!--

<h4 style="margin-top: -35px;">
Vantage Data and Tableau challenge you to bring data to life.
</h4>

<h3>The Task</h3>
Develop a visualisation in R which exposes a captivating story hidden in the 2012 Causes of Death data.
 
<h3>The Prize</h3>
A Tableau Desktop Professional License (valued at R27 000.00).
 
<h3>The Sponsors</h3>

Vantage shows companies and individuals how data analytics goes beyond insight to uncover
hidden value and patterns which can drive immense value. They partner with Tableau whose
software helps people see and understand their data. Find out how they do it at <a href="www.vantagedata.co.za">www.vantagedata.co.za</a>
or discover Tableau for yourself at <a href="www.tableau.com">www.tableau.com</a>.
 
<h3>The Data</h3>

The data for the Visualisation Challenge are the 2012 Causes of Death data gathered by
Statistics South Africa and made available by <a href="https://data.code4sa.org/">Code for South Africa</a> at <a href="https://bit.ly/2k7YP0I">https://bit.ly/2k7YP0I</a>. Extensive metadata
are also available. The data set contains 495 thousand deaths and provides a fertile source for a range of visualisations.
 
<h3>Guidelines for Participation</h3>

<ul>
<li> Only registered conference attendees are eligible.
<li> R must be used to load, process and visualise the data. Any R package may be used.
<li> Submissions can take the form of one or more plots or images combined as a single visualisation, dashboard or Shiny application.
<li> Source code used to generate the submission must be released with an Open Source license.
<li> Submit the following:
<ul>
    <li> a static copy of the visualisation (and a link to live copy if available);
    <li> a short (maximum 1000 words) description of the visualisation;
    <li> a link to the source code.
</ul>
</ul>
 
<p>Submissions should be sent to <a href="mailto:satrday.cape.town+visualisation@gmail.com">satrday.cape.town+visualisation@gmail.com</a> before midnight SAST 14 February 2017.
 
<p>Visualisations will be presented and the winner will be announced at the end of satRday on 18 February 2017.</p>
-->
</section>