<section id="workshops">
   <!--<h2>Workshops</h2>
    <p>Workshops will be held on October 26<sup>th</sup> 2018 in <a href="https://www.google.com/maps/place/Startit+Centar+Beograd/@44.8068924,20.4533107,17z/data=!3m1!4b1!4m5!3m4!1s0x475a7aaa0756e81f:0x1e47be2a38dbf0ee!8m2!3d44.8068924!4d20.4554994" target="_blank">Startit Center Belgrade</a>.</p>
<div class="row">
        <div class="col-sm-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.7201116995325!2d20.453310715940454!3d44.80689237909862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7aaa0756e81f%3A0x1e47be2a38dbf0ee!2sStartit+Centar+Beograd!5e0!3m2!1sen!2srs!4v1538081820510" width=100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>
    </div>
   <div>
   <table class="table table-hover">
        <thead>
            <tr>
                <th>Time</th>
                <th>Subject</th>
                <th>Lecturer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>09:00 - 12:30</td>
                <td>An Introduction to Text Mining in R</td>
                <td>Jelena Jovanovic, University of Belgrade</td>
            </tr>
            <tr>
                <td>14:00 - 17:30</td>
                <td>Data Visualization in R</td>
                <td>Judit Mokos, Hungarian Academy of Sciences</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div>
       <h3>An Introduction to Text Mining in R</h3>
       <p>This workshop will introduce participants to Text Mining (TM) methods and techniques, and enable them to develop working knowledge of TM in R. During the workshop, we will go through the overall TM process and examine each of its key phases. In particular, we will start with text preprocessing, then move to the transformation of unstructured textual content to a structured numerical format (i.e., feature creation and selection), thus obtaining a feature set that can serve as the input to a statistical, or machine learning, or a graph-based algorithm for pattern mining or information extraction; the next step will be to run the features through a ML algorithm, e.g. a classification algorithm, considering that text classification is probably the most representative TM task; finally, we will examine and evaluate the obtained results. All the steps will be done with the state-of-the-practice R packages, such as tidyr, dplyr, stringr, quanteda, and caret.</p>
       <p>Workshop participants should have at least a basic level of programming experience in R. No experience with any form of text mining / text analytics is required.</p>
   </div>
   <div>
       <h3>Speak visually! - Data visualization in R using ggplot2</h3>
       <p>Figures are your friends: they help you to understand the main pattern of your data or show the results in a quick way. A good figure can grab your attention and your audience will remember for your work easily. But, how to make appealing and easy to understand figures?</p>
       <p>In this workshop, we will take you step-by-step through the process of graph/figure making, including the most common types of graphs, when to use them, and how to interpret them. We will start using the basic tools provided by R base, to then switch to the package ggplot2. We will also discuss how to recognize misleading graphs, and why not to use them.</p>
   </div>-->
</section>
